@model IEnumerable<QLDV1.Models.ChiDoan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi Đoàn</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.macd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tencd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.macd)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tencd)
    </td>
    <td>
        @Html.ActionLink("Sửa", "Edit", new { id = item.macd }) |
        @Html.ActionLink("Thông tin", "Details", new { id = item.macd }) |
        @Html.ActionLink("Xóa", "Delete", new { id = item.macd })
    </td>
</tr>
}

</table>
