@model QLDV1.Models.HoatDong

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin</h2>

<div>
    <h4>Hoạt Động</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenhd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenhd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thoigiantc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoigiantc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ghichu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ghichu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.mahd }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
