@model QLDV1.Models.HoatDong

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin</h2>

<div>
    <h4>Hoạt Động</h4>
    <hr />
    <table class="table">
        <tr>
            <td>@Html.DisplayNameFor(model => model.tenhd)</td>
            <td>@Html.DisplayFor(model => model.tenhd)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.thoigiantc)</td>
            <td>@Html.DisplayFor(model => model.thoigiantc)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ghichu)</td>
            <td>@Html.DisplayFor(model => model.ghichu)</td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.mahd }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
