@model QLDV1.Models.XepLoai

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Bạn chắc muốn xóa chứ?</h3>
<h2>Xóa</h2>
<div>
    <h4>Xếp Loại</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DoanViens.tendv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoanViens.tendv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoatDongs.tenhd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoatDongs.tenhd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.namhoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.namhoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nhanxet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nhanxet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phanloai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phanloai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
