@model QLDV1.Models.XepLoai

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin</h2>

<div>
    <h4>Xếp Loại</h4>
    <hr />
    <table class="table">
        <tr>
            <td>@Html.DisplayNameFor(model => model.DoanViens.tendv)</td>
            <td>@Html.DisplayFor(model => model.DoanViens.tendv)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.HoatDongs.tenhd)</td>
            <td>@Html.DisplayFor(model => model.HoatDongs.tenhd)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.namhoc)</td>
            <td>@Html.DisplayFor(model => model.namhoc)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.nhanxet)</td>
            <td>@Html.DisplayFor(model => model.nhanxet)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.phanloai)</td>
            <td>@Html.DisplayFor(model => model.phanloai)</td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
