@model QLDV1.Models.KhenThuong

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin</h2>

<div>
    <h4>Khen Thưởng</h4>
    <hr />
    <table class="table">
        <tr>
            <td>@Html.DisplayNameFor(model => model.DoanViens.tendv)</td>
            <td>@Html.DisplayFor(model => model.DoanViens.tendv)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.tenkt)</td>
            <td>@Html.DisplayFor(model => model.tenkt)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.thanhtich)</td>
            <td>@Html.DisplayFor(model => model.thanhtich)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.namhoc)</td>
            <td>@Html.DisplayFor(model => model.namhoc)</td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.makt }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
