@model IEnumerable<QLDV1.Models.KhenThuong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Khen Thưởng</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DoanViens.tendv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenkt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thanhtich)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.namhoc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DoanViens.tendv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenkt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thanhtich)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.namhoc)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.makt }) |
            @Html.ActionLink("Thông tin", "Details", new { id=item.makt }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.makt })
        </td>
    </tr>
}

</table>
