@model QLDV1.Models.DiemDanh

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin</h2>

<div>
    <h4>Điểm danh</h4>
    <hr />
    <table class="table">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.DoanViens.tendv)
            </td>
            <td>
                @Html.DisplayFor(model => model.DoanViens.tendv)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.HoatDongs.tenhd)
            </td>
            <td>
                @Html.DisplayFor(model => model.HoatDongs.tenhd)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ghichu)
            </td>
            <td>
                @Html.DisplayFor(model => model.ghichu)
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
