@model IEnumerable<QLDV1.Models.XepLoai>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DoanViens.tendv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoatDongs.tenhd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.namhoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nhanxet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.xeploai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DoanViens.tendv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoatDongs.tenhd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.namhoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nhanxet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.xeploai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
