@model QLDV1.Models.DoanVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin</h2>

<div>
    <h4>Đoàn Viên</h4>
    <hr />
    <table class="table">
        <tr>
            <td>@Html.DisplayNameFor(model => model.ChiDoans.tencd)</td>
            <td>@Html.DisplayFor(model => model.ChiDoans.tencd)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.tendv)</td>
            <td>@Html.DisplayFor(model => model.tendv)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ns)</td>
            <td>@Html.DisplayFor(model => model.ns)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.gioitinh)</td>
            <td>@Html.DisplayFor(model => model.gioitinh)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.quequan)</td>
            <td>@Html.DisplayFor(model => model.quequan)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ngayvd)</td>
            <td>@Html.DisplayFor(model => model.ngayvd)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.dantoc)</td>
            <td>@Html.DisplayFor(model => model.dantoc)</td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.madv }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
